*{
    padding:0;
    margin:0;
}
.X{
padding:10px;
margin:5px;
align-items:center;
background-color: aqua;
}
.Y{
padding:20px;
margin:10px;
align-items:left;background-color: rgb(10, 169, 169);
}
.Z{
padding:30px;
margin:15px;
align-items:right;background-color: rgb(9, 86, 86);
}
.one{
    color:blueviolet;
    background-color: blanchedalmond;
}

        .zero {
            background-color: aqua;
            color: rgb(255, 255, 255);
        }
        .A{
            color:blueviolet;
            align-items: center;
            display: block;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
        }
        .B{
            color:rgb(102, 34, 166);
            align-items: center;
            display: block;
            font-size: 60px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
        }
        .C{
            color:rgb(69, 23, 113);
            align-items: center;
            display: block;
            font-size: 90px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
        }